<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>This app accesses reminders to automatically schedule them on the user&apos;s calendar and to create new reminders in the app.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>This app accesses calendars to automatically schedule reminders on them.</string>
</dict>
</plist>
